In [1]:
from src.data.processing import load_datasets, merge_dataframes, save_merged_df, load_merged_df
import pandas as pd

from src.config.settings import configure_logging
configure_logging()

In [2]:
# Use this the first time to save the merged data as a .csv file
#customers, transactions = load_datasets()
#df = merge_dataframes(customers, transactions)
#save_merged_df(merged_df=df)

# If you already have merged_sme_data.csv in data/raw, you can load it:
df = load_merged_df()

2025-11-13 13:38:05,559 [INFO] src.data.processing._safe_read_csv: Loading data/raw/merged_sme_data.csv
/app/src/data/processing.py:13: DtypeWarning: Columns (11,15) have mixed types. Specify dtype option on import or set low_memory=False.
  return pd.read_csv(path)

In [ ]:
# Convert timestamps, sort by time and customer, so it is time-ordered per customer

df['BookingDatetime'] = pd.to_datetime(df['BookingDatetime'])
df = df.sort_values(['cust_id', 'BookingDatetime'])

In [10]:
df.head()

,WeekDay,Channel,cust_id,D_C,Currency_trx,Amount_EUR,Customer_IBAN,Counterparty_IBAN,Amount_Orig,currency,MCC,country_of_merchant,BookingDatetime,customer_type,parent_company_flag,CUST_GRP_ID,BRTH_DT,language
3,7,Internet Bank,00feb0ff373287a3b1b210369f5aef9bfffd5d02f6bc8f...,C,EUR,0.010024,3a8c99d1e8caf60ddbc4b9865b0947f981c90980f3fab2...,3a8c99d1e8caf60ddbc4b9865b0947f981c90980f3fab2...,0.010024,EUR,NaN,NaN,2023-01-01 03:56:39,SME,1,NaN,1995-1999,RUS
329,7,Internet Bank,00feb0ff373287a3b1b210369f5aef9bfffd5d02f6bc8f...,C,EUR,0.010024,3a8c99d1e8caf60ddbc4b9865b0947f981c90980f3fab2...,3a8c99d1e8caf60ddbc4b9865b0947f981c90980f3fab2...,0.010024,EUR,NaN,NaN,2023-01-01 03:56:39,SME,1,NaN,1995-1999,RUS
7,7,Internet Bank,00feb0ff373287a3b1b210369f5aef9bfffd5d02f6bc8f...,D,EUR,1.002405,3a8c99d1e8caf60ddbc4b9865b0947f981c90980f3fab2...,7ecc6d620a9ea4170231178c236206770eb7a4785d2a6c...,1.002405,EUR,NaN,NaN,2023-01-08 01:43:51,SME,1,NaN,1995-1999,RUS
333,7,Internet Bank,00feb0ff373287a3b1b210369f5aef9bfffd5d02f6bc8f...,D,EUR,1.002405,3a8c99d1e8caf60ddbc4b9865b0947f981c90980f3fab2...,7ecc6d620a9ea4170231178c236206770eb7a4785d2a6c...,1.002405,EUR,NaN,NaN,2023-01-08 01:43:51,SME,1,NaN,1995-1999,RUS
8,1,ATM,00feb0ff373287a3b1b210369f5aef9bfffd5d02f6bc8f...,C,EUR,3007.214307,3a8c99d1e8caf60ddbc4b9865b0947f981c90980f3fab2...,7ecc6d620a9ea4170231178c236206770eb7a4785d2a6c...,3007.214307,EUR,NaN,NaN,2023-01-16 11:56:38,SME,1,NaN,1995-1999,RUS